/* About Page */
header {
    background: #4b5854;
    padding: 1rem;
    text-align: center;
  }
  
  header h1 {
    color: #fff;
    margin-bottom: 0.5rem;
  }
  
  nav a {
    color: #ddd;
    margin: 0 10px;
    text-decoration: none;
  }
  
  nav a.active {
    color: #4fd1c5;
    font-weight: bold;
  }
  
  .about-section {
    max-width: 900px;
    margin: 2rem auto;
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
  }
  
  .circle-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #4fd1c5;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
  }
  
  .about-text h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: #0f172a;
  }
  
  .about-text p {
    font-size: 1rem;
    line-height: 1.6;
    color: #333;
  }
  
  body {
    background-color: #acaeb1; /* light gray */
    margin: 0;
    padding: 0;
  }